.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


#answers ul{
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#answers li {
  background-color: #fff;
  border: 2px solid #0094da;
  min-height: 70px;
  width: 48%;
  display: flex;
  margin-bottom: 30px;
  transition: color .3s ease, border-color .3s ease, transform .3s ease;
  cursor: pointer;
}

#answers li span {
  background-color: #0084da;
  color: #fff;
  font-size: 30px;
  flex: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .3s ease;
}

#answers li p {
  color: #0b0e21;
  font-size: 16px;
  font-weight: 600;
  flex: calc(100% - 75px);
  margin: auto 20px;
  transition: color .3s ease;
}

#answers li.right {
  border-color: #1ea55b;
  color: #1ea55b;
}

#answers li.right span {
  background-color: #1ea55b;
}

#answers li.right p {
  color: #1ea55b;
}

#answers li.wrong {
  border-color: #dc0a0a;
  color: #dc0a0a;
}

#answers li.wrong span {
  background-color: #dc0a0a;
}

#answers li.wrong p {
  color: #dc0a0a;
}
.fancy-btn {
  border: 2px solid #0b0e21;
  border-radius: 0;
  background-color: #0b0e21;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 75px;
  margin: 0 auto;
  text-transform: uppercase;
  transition: color .2s ease, background-color .2s ease;
}
